<ion-view view-title="Submit Report">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Report Title">
      </label>
      <label class="item item-input">
        <textarea type="text" placeholder="Report Description"></textarea>
      </label>
      <button class="button button-light ion-image icon-left">
        Attach Photo
      </button>
      <button class="button button-calm button-block">
        Submit
      </button>
    </div>
  </ion-content>
</ion-view>
