<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="All" icon-off="ion-android-globe" icon-on="ion-android-globe" href="#/tab/all">
    <ion-nav-view name="tab-all"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Featured" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/featured">
    <ion-nav-view name="tab-featured"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Submit" icon-off="ion-ios-upload" icon-on="ion-ios-upload-outline" href="#/tab/submit">
    <ion-nav-view name="tab-submit"></ion-nav-view>
  </ion-tab>


</ion-tabs>
